<% if @results.empty? %>
  <div class="row justify-content-center my-1 my-lg-5 mx-0 mx-lg-5 pl-lg-5 pr-lg-3">
    <div class="empty-search-container col-12">
      <div class="row justify-content-center my-5">
        <div class="col-12 text-center text-md-left text-xl-center">
          <h1>No hay publicaciones que coincidan con tu búsqueda.</h1>
        </div>
      </div>
      <div class="row justify-content-center my-5 p-0 p-md-5">
        <div class="col-8 col-sm-5 col-md-3">
          <img src="<%= asset_path('search-icon.png') %>" class=" search-icon" alt="Icono de busqueda">
        </div>
        <div class="col-12 col-lg-9 px-0 pl-md-5 d-flex flex-column justify-content-between text-center text-md-left">
          <p class="font-weight-light mt-5 mt-md-0">Revisa la ortografía.</p>
          <p class="font-weight-light">Utiliza palabras más genéricas o menos palabras.</p>
          <p class="font-weight-light">Navega por las categorías para encontrar un producto similar.</p>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center my-1 my-lg-5 mx-0 mx-lg-5 pl-lg-5 pr-lg-3">
    <div class="col-3 d-none d-xl-block">
      <div class="search-title my-5">
        <div>
          <a href="/">
            <img src="<%= asset_path('arrow-left.svg') %>" class="font-weight-bolder back-link" alt="Icono de busqueda">
          </a>
            <h1 class="font-weight-bolder text-break"><%= search_title(title: @title, params: params[:search]) %></h1>
          <div>
            <p class="font-weight-light"><%= @results.size %> resultados</p>
          </div>
        </div>
      </div>
      <div class="publication-type-filter">
        <h4 class="font-weight-bold">Tipo de publicaciones</h4>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" value="1" id="all" checked>
            <label class="form-check-label" for="all">Todas</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="sales" value="2">
            <label class="form-check-label" for="sales">Ventas</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="petitions" value="3">
            <label class="form-check-label" for="petitions">Solicitudes</label>
        </div>
      </div>
      <div class="relevance-search-filter">
        <h4 class="font-weight-bold">Ordenar publicaciones</h4>
        <select class="form-control">
          <option>Más relevante</option>
          <option>alguna opcion</option>
        </select>
      </div>
      <div class="search-categories my-5">
        <h4 class="font-weight-bold">Categorías</h4>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <a href="#" class="text-secondary font-weight-light"><%= category.title %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-12 col-xl-9 results-container">
      <div class="row px-0 p-md-5">
        <div class="col-12 d-xl-none my-3">
          <select class="form-control">
            <option>Más relevante</option>
            <option>alguna opcion</option>
          </select>
        </div>
        <% @results_page.each do |product| %>
          <%= render partial: 'shared/petition_card', locals: { product: product } %>
        <% end %>
      </div>
    </div>
    <div class="row offset-xl-3 py-5">
      <%= paginate @results_page,  window: 2 %>
    </div>
  </div>
<% end %>
