<div>
 <%= render partial: recipient_or_sender_partial(current_user, @conversation) %>

  <div class="chat-zone w-100 overflow-auto p-0" data-turbolinks="false">
    <div class="col px-0">
      <div class="chat" data-channel-subscribe="conversation"
                        data-conversation-id="<%= @conversation.id %>"
                        data-current-id="<%= current_user.id %>">

        <% @conversation.messages.order('created_at ASC').each do |message| %>
          <% if message.user_id == current_user.id %>
            <div class="w-100 d-flex justify-content-end">
              <div class="chat-message-container-me text-wrap px-3 py-2 my-1">
          <% else %>
            <div class="w-100 d-flex">
              <div class="chat-message-container text-wrap px-3 py-2 my-1">
          <% end %>
              <div class="message-box">
                <div class="message-content px-2 m-1 text-wrap text-break">
                  <p class="mb-1 ">
                    <%= message.message %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="typing-zone w-100 d-flex justify-content-center mb-2">
    <%= form_for @conversation_message, remote: true, html: { autocomplete: :off, class: "px-0 w-100 h-100" } do |f| %>
      <div class="d-flex text-area p-0 col-12 w-100 h-100 m-0 justify-content-between align-items-center">
        <%= f.text_field :message, class: "chat-input col-7 col-md-8",
                                   autofocus: true, placeholder: 'Escribe tu mensaje' %>
        <%= f.label :attachment, class: 'chat-attachment col-1 justify-content-center
         p-0 mb-md-0 mr-md-0 mr-1' do %>
          <%= image_tag 'clip.svg', class: 'clip' %>
        <% end %>
        <%= f.file_field :attachment %>
        <%= f.submit "Enviar", class: "send-button btn col-3 btn-primary btn-sm" %>
      </div>
      <%= f.hidden_field :current_id, value: current_user.id %>
      <%= f.hidden_field :conversation_id %>
    <% end %>
  </div>

  <div class="d-none" data-role="message-template">
    <div class="w-100 d-flex">
      <div class="chat-message-container text-wrap px-3 py-2 my-1 text-white">
        <div class="message-box">
          <div class="message-content px-1 text-wrap text-break">
            <p class="mb-1" data-role="message-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
