<footer class="footer bg-secondary w-100">
  <div class="d-flex flex-wrap py-5">
    <div class="col-12 col-md-6 order-1 order-md-0">
      <div class="row justify-content-center pb-5">
        <%= image_tag('logos-footer.png', alt: "Logos CANACO", size: "400x100") %>
      </div>
      <div class="row">
        <div class="col-12 paragraph-container">
          <p class="text-center text-md-left mb-3">Dirección</p>
          <p class="text-center mb-0">Teléfonos: 312-3120071 31-30058, 31-40161</p>
          <p class="text-center mb-0">Hidalgo #93 2do Piso Col. Centro, Colima</p>
          <p class="text-center mb-0">contacto@canacocolima.com.mx</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 order-0 order-md-1">
      <div class="row justify-content-center">
        <div class="col-8 d-flex justify-content-around pb-5">
          <a href="#"> <%= image_tag('facebook.svg', alt: "Facebook link", size: "40x40") %> </a>
          <a href="#"> <%= image_tag('instagram.svg', alt: "Instagram link", size: "40x40") %> </a>
          <a href="#"> <%= image_tag('twitter.svg', alt: "Twitter link", size: "40x40") %> </a>
          <a href="#"> <%= image_tag('linkedin.svg', alt: "Linkedin link", size: "40x40") %> </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <ul>
          <li><a href="#">Mi cuenta</a></li>
          <li><a href="#">Mi orden</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Compras</a></li>
          <li><a href="#">Categorías</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
