<footer class="row footer footer-text px-1 px-lg-5 pb-3 pt-2 mx-0">
  <div class="col-12 col-md-6 order-1 order-md-0 pt-2 pt-lg-5 px-0 pl-md-5 address-container">
    <div class="row justify-content-center justify-content-md-start pb-3 pb-lg-5 mx-0 logo">
      <%= image_tag('logo-footer.png', alt: "Logos CANACO", class: "img") %>
    </div>
    <div class="row justify-content-center justify-content-md-start pt-2 pt-lg-5 mx-0">
      <p class="text-center text-lg-left">
        Dirección<br>
        Teléfonos: 312-3120071 31-30058, 31-40161<br>
        Hidalgo #93 2do Piso Col. Centro, Colima<br>
        <a href="#">contacto@canacocolima.com.mx</a>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-6 order-0 order-md-1 pt-2 pt-lg-5 social-container">
    <div class="row d-flex justify-content-center pb-2 pb-lg-5 mx-0">
      <a href="#"> <%= image_tag('facebook.svg',
                                 alt: "Facebook link", size: "30x30", class: "img mx-3 mx-xl-5") %> </a>
      <a href="#"> <%= image_tag('instagram.svg',
                                 alt: "Instagram link", size: "30x30", class: "img mx-3 mx-xl-5") %> </a>
      <a href="#"> <%= image_tag('twitter.svg',
                                 alt: "Twitter link", size: "30x30", class: "img mx-3 mx-xl-5") %> </a>
      <a href="#"> <%= image_tag('linkedin.svg',
                                 alt: "Linkedin link", size: "30x30", class: "img mx-3 mx-xl-5") %> </a>
    </div>
    <div class="row justify-content-center mx-0">
      <ul class="text-center text-lg-left px-0">
        <li><a href="#" class="text-center text-md-left">Mi cuenta</a></li>
        <li><a href="#" class="text-center text-md-left">Mi orden</a></li>
        <li><a href="#" class="text-center text-md-left">Vender</a></li>
        <li><a href="#" class="text-center text-md-left">Compras</a></li>
        <li><a href="#" class="text-center text-md-left">Categorías</a></li>
      </ul>
    </div>
  </div>
  <div class="col-12 row text-center text-md-left px-md-5 mx-0 pt-2 pt-md-5 order-2 justify-content-center justify-content-md-start align-items-end">
    <p>&copy;1990-2019 CANACO o afiliados. Todos los derechos reservados.</p>
  </div>
</footer>
