<div class="navbar-container navbar-text pt-0">
  <div class="d-flex position-absolute w-100 justify-content-center">
    <nav class="container navbar col-12 d-flex align-items-top px-1 px-md-5">
      <% @user_notifications = current_user_notifications(current_user) %>
      <% @notifications_dropdown = last_notifications(@user_notifications) %>
      <!--Main logo-->
      <div class="logo pl-1 pl-md-3 pl-lg-4 pl-xl-5">
        <a href="/" data-turbolinks="false">
          <img src="<%= asset_path('navbar-logo.png') %>" alt="CANACO-logo">
        </a>
      </div>
      <!--categories only desktop-->
      <div class="categories d-none d-lg-block">
        <!--Dropdow with a subdropdown-->
        <div class="dropdown">
          <span class="dropdown-toggle text-white" id="dropdownCategories" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Categorías
          </span>
          <div class="dropdown-menu categories-menu" aria-labelledby="dropdownCategories">
            <% Category.all.each do |category| %>
              <div class="droprignt subdropdown-categories">
                <div class="dropdown-submenu">
                  <% if category.subcategories.size == 0 %>
                    <%= link_to category.title,
                                category_search_index_path(title: category.title),
                                class: "dropdown-item",
                                "data-turbolinks": false %>
                  <% else %>
                    <%= link_to category.title, "", class: "dropdown-item dropdown-toggle" %>
                    <div class="dropdown-menu submenu-categories py-2">
                      <div class="submenu-container">
                        <div class="title-subcategory text-center mx-2">
                          <h4>
                            <%= link_to category.title,
                                        category_search_index_path(title: category.title),
                                        class: "text-decoration-none text-info",
                                        "data-turbolinks": false %>
                          </h4>
                        </div>
                        <hr class="mx-2">
                        <div class="subcategories-container d-flex flex-wrap justify-content-between mx-2">
                          <div class="subcategories-items col-6 mx-2">
                            <div class="subcategories-list d-flex flex-wrap text-secondary">
                              <% category.subcategories.all.each do |subcategory| %>
                                <%= link_to subcategory.title,
                                            subcategory_search_index_path(title: subcategory.title),
                                            class: "text-muted w-100",
                                            "data-turbolinks": false %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!--Search bar-->
      <div class="search-bar col-5 d-flex align-items-center">
        <div class="input-group">
          <%= form_tag(search_index_path, method: "get", class: "d-flex w-100") do %>
            <%= search_field_tag :search,
                                 params[:search],
                                 placeholder: "Busca productos, servicios y más...",
                                 class: "h-100 form-control" %>
            <div class="input-group-append">
              <button class="search-btn btn" type="submit" id="search-btn">
                <img src="<%= asset_path('search.svg') %>" alt="search icon" width="25" height="25">
              </button>
            </div>
          <% end %>
        </div>
      </div>

      <!--Shopping car-->
      <div class="shopping-car">
        <a href="/cart">
          <img src="<%= asset_path('cart.svg') %>" alt="cart icon" width="25" height="25">
        </a>
      </div>

      <!-- desktop only -->

      <div class="dropdown notification-bell d-none d-lg-block">
        <div class="dropdown" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span><img src="<%= asset_path('notification-bell.svg') %>" width="25" height="25"
              alt="Notification bell icon"></span>
          <div id="notification-counter">
            <strong>
              <% if @user_notifications.any? %>
                <%= @user_notifications.size %>
              <% end %>
            </strong>
          </div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownNotification">
          <div class="mt-2 ml-3">Notificaciones</div>
          <hr class="mb-0">
          <div class="notification-cable overflow-auto">
            <% if @notifications_dropdown.empty? %>
              <div class='dropdown-item w-100 disabled text-wrap py-3 notification-item d-flex align-items-center'
                   id="empty-notification-message">
                <div class="ml-3">
                  <span>Sin notificaciones pendientes...</span>
                </div>
              </div>
            <% else %>
              <%= ApplicationController.render partial: 'notifications/notifications_dropdown',
                                               locals: { notifications: @notifications_dropdown } %>
            <% end %>
          </div>
          <hr class="mt-0">
          <div class="text-center">
            <a href="/notifications">Ver todo</a>
          </div>
        </div>
      </div>

      <div class="profile-menu d-lg-flex align-items-center">
        <div class="profile-photo d-none d-lg-flex">
          <%= profile_photo(current_user, "45x45") %>
        </div>

        <div class="dropdown pr-1 pr-md-3 pr-lg-4 pr-xl-5">
          <span class="my-profile d-none d-lg-flex align-items-center ml-2 dropdown-toggle text-white" id="dropdownUserMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi cuenta
          </span>

          <span class="dropdown d-block d-lg-none" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="<%= asset_path('burger-menu.svg') %>" alt="burguer menu icon" width="25" height="25">
          </span>

          <div class="dropdown-menu menu-profile pt-0 dropdown-menu-right px-1" aria-labelledby="dropdownUserMenu">
            <div class="text-center d-block my-3 d-flex align-items-center justify-content-between justify-content-lg-center px-2">
              <% if user_signed_in? %>
                <% @user_name = current_user.full_name.split%>
                <div class="profile-photo d-block d-lg-none rounded-circle bg-dark">
                  <%= profile_photo(current_user, "23x23") %>
                </div>

                <span>¡Hola <%= @user_name.first.capitalize %>!</span>
                <a href="/notifications">
                  <span class="d-block d-lg-none"><img src="<%= asset_path('notification-bell.svg') %>" width="25" height="25"
                      alt="notification-bell icon"></span>
                </a>
              <% else %>
              <div class="w-100 d-flex justify-content-center">
                <%= button_to "Identíficate", '/users/sign_in',
                              method: :get, class: "btn primary-button rounded-pill" %>
              </div>
              <% end %>
            </div>
            <hr class="my-0">
            <div>
              <%= link_to users_account_options_path, class: "dropdown-item" do %>
                <%= image_tag 'user_circle.svg', alt: "Icono de usuario" %>
                <span class="ml-2">Mi cuenta</span>
              <% end %>
              <a class="dropdown-item" href="/my-order">
                <img src="<%= asset_path('my_order.svg') %>" alt="my order icon">
                <span class="ml-2">Mi orden</span>
              </a>
              <%= link_to categories_sales_path, class: "dropdown-item" do %>
                <img src="<%= asset_path('money_circle.svg') %>" alt="circle money icon">
                <span class="ml-2">Vender</span>
              <% end %>
              <%= link_to categories_petitions_path, class: "dropdown-item" do %>
                <img src="<%= asset_path('shopping_bag.svg') %>" alt="shopping bag icon">
                <span class="ml-2">Compras</span>
              <% end %>
              <div class="dropdown-item d-block d-lg-none">
                <img src="<%= asset_path('categories.svg') %>" alt="categories icon">
                <span class="ml-2">Categorias</span>
              </div>
              <% if user_signed_in? %>
                <%= link_to '/users/sign_out',
                            'data-no-turbolink' => true,
                            method: :delete,
                            class: :"dropdown-item d-flex" do %>
                  <div class="salir-svg">
                    <img src="<%= asset_path('log_out.svg') %>" alt="log out icon">
                  </div>
                  <span class="ml-3">Salir</span>
                <% end %>
              <% end %>
              <a class="dropdown-item" href="/help">
                <img src="<%= asset_path('help_circle.svg') %>" alt="help circle icon">
                <span class="ml-2">Ayuda</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
