<%= render partial: "shared/banner-welcome" %>
<%= render partial: "shared/banner-offer" %>
<%= render partial: "shared/slider" %>
<%= render partial: "shared/banner-info" %>
<div class="bg-secondary my-5 py-4">
  <div class="d-flex justify-content-around flex-wrap container">
    <%= render partial: "shared/offercards", locals: {image: "http://lorempixel.com/225/225/fashion/"} %>
    <%= render partial: "shared/offercards", locals: {image: "http://lorempixel.com/225/225/technics/"} %>
  </div>
  <%= render partial: "shared/offercards_banner", locals: {image: "http://lorempixel.com/400/225/food/"} %>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $('.autoplay').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 10000,
    infinite: true,
    speed: 300,
    responsive: [
      {
        breakpoint: 1500,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 1200,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 900,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 770,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        }
      }
    ]
  });
</script>