<div class="d-flex flex-column align-items-center justify-content-around h-50 border-bottom">
  <!--When paperclip will be installed the name 'default' should change for :thumb'-->
  <%= image_tag('default.png', size: "120x120", class: "rounded-circle bg-dark") %>
  <h3 class="text-center">Orlando Sotelo</h3>
  <h5>Grupo GIN</h5>
</div>
<div class="d-flex flex-column align-items-center justify-content-around h-50 border-top py-3">
  <h3>Opiniones</h3>
  <!-- The variable "stars" must be calculated automatically,
  depending on the ratings obtained by the seller -->
  <% stars = 4.1 %>
  <h1><%= stars.round(1) %></h1>
  <div class="text-right">
    <div class="row">
      <% stars.to_i.times do %>
        <%= image_tag('full star.svg', size: "30x30") %>
      <% end %>

      <%= image_tag('half star.svg', size: "30x30") if stars - stars.to_i != 0 %>

      <% (5 - stars).to_i.times do %>
        <%= image_tag('empty star.svg', size: "30x30") %>
      <% end %>
    </div>
    <p>50 opiniones</p>
  </div>
</div>
