<% if @results.empty? %>
  <div class="row justify-content-center m-md-5 mx-2 pl-lg-5 pr-lg-3">
    <div class="empty-search-container col-12">
      <div class="row justify-content-center my-5 p-0 p-md-5">
        <div class="col-12 col-lg-8 pl-md-5 d-flex flex-column justify-content-between order-2 order-lg-1">
          <div class="information-container">
            <h3 class="py-1 text-center text-md-left">No hay coincidencias con tu búsqueda</h3>
            <p class="py-3">El producto que buscas no coincide con nuestra información.</p>
            <ul class="mx-5 information-list">
              <li>Revisa la ortografía.</li>
              <li>Utiliza palabras más genéricas o menos palabras.</li>
              <li>Navega por las <span class="text-color-primary">categorías</span> para encontrar un producto similar.</li>
              <li>Realiza una solicitud para encontrar el producto que buscas.</li>
            </ul>
            <div class="text-center text-md-right">
              <%= link_to 'Solicitar producto', categories_petitions_path,
                          class: 'btn primary-button mt-2' %>

              <%= link_to 'Pagina principal', '/',
                          class: 'btn primary-button-outline mt-2 ml-md-4' %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center text-lg-left order-1 order-lg-2 align-self-center">
          <%= image_tag('surprise-icon.png', class: 'surprise-icon', alt: 'Icono de busqueda') %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center m-md-5 mx-2 pl-lg-5 pr-lg-3">
    <div class="col-3 d-none d-xl-block">
      <div class="search-title my-5">
        <div>
          <a href="/">
            <img src="<%= asset_path('arrow-left.svg') %>" class="font-weight-bolder back-link" alt="Icono de busqueda">
          </a>
            <h1 class="font-weight-bolder text-break"><%= search_title(title: @title, params: params[:search]) %></h1>
          <div>
            <p class="font-weight-light"><%= @results.size %> resultados</p>
          </div>
        </div>
      </div>
      <div class="publication-type-filter">
        <h4 class="font-weight-bold">Tipo de publicaciones</h4>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" value="1" id="all" checked>
            <label class="form-check-label" for="all">Todas</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="sales" value="2">
            <label class="form-check-label" for="sales">Ventas</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="petitions" value="3">
            <label class="form-check-label" for="petitions">Solicitudes</label>
        </div>
      </div>
      <div class="relevance-search-filter">
        <h4 class="font-weight-bold">Ordenar publicaciones</h4>
        <select class="form-control">
          <option>Más relevante</option>
          <option>alguna opcion</option>
        </select>
      </div>
      <div class="search-categories my-5">
        <h4 class="font-weight-bold">Categorías</h4>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <a href="#" class="text-secondary font-weight-light"><%= category.title %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-12 col-xl-9 results-container">
      <div class="row px-0 p-md-5">
        <div class="col-12 d-xl-none my-3">
          <select class="form-control">
            <option>Más relevante</option>
            <option>alguna opcion</option>
          </select>
        </div>
        <% @results_page.each do |product| %>
          <% if product.kind_of?(Petition) %>
            <%= render partial: 'shared/petition_card', locals: { product: product } %>
          <% else %>
            <%= render partial: 'shared/sale_card', locals: { product: product } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex offset-xl-3 py-5">
      <%= paginate @results_page, window: 2 %>
    </div>
  </div>
<% end %>
