<div class="w-100 d-flex justify-content-center">
  <div class="col-11 rounded border my-5 p-5">
    <div class="text-muted mb-5">
      <h2>Hola <%= current_user.first_name %>!</h2>
    </div>
    <div class="container-fluid px-0 d-flex flex-wrap justify-content-center justify-content-xl-between">
      <%= link_to '/users/edit', name: "MisDatos", class:"px-0 m-2 col-12 col-md-5 col-lg-3 col-xl-2 text-decoration-none border border-dark rounded text-secondary" do %>
      <div class="p-2 d-flex flex-wrap justify-content-center">
        <div class="w-100 mb-3 d-flex justify-content-center">
          <%= image_tag( 'user_circle.svg', size: "150x150", class: "text-secondary" ) %>
        </div>
        <h4 class="text-center">Mis datos</h4>
      </div>
      <% end %>

      <%= link_to '/addresses', class:"px-0 m-2 col-12 col-md-5 col-lg-3 col-xl-2 text-decoration-none border border-dark rounded text-secondary" do %>
      <div class="p-2 d-flex flex-wrap justify-content-center">
        <div class="w-100 mb-3 d-flex justify-content-center">
          <%= image_tag( 'map.svg', size: "100x150", class: "text-secondary" ) %>
        </div>
        <h4 class="text-center">Mis direcciones</h4>
      </div>
      <% end %>

      <%= link_to '/payment', class:"px-0 m-2 col-12 col-md-5 col-lg-3 col-xl-2 text-decoration-none border border-dark rounded text-secondary" do %>
      <div class="p-2 d-flex flex-wrap justify-content-center">
        <div class="w-100 mb-3 d-flex justify-content-center">
          <%= image_tag( 'credit-card.svg', size: "130x150", class: "text-secondary" ) %>
        </div>
        <h4 class="text-center">Opciones de pago</h4>
      </div>
      <% end %>

      <%= link_to '/purchases', class:"px-0 m-2 col-12 col-md-5 col-lg-3 col-xl-2 text-decoration-none border border-dark rounded text-secondary" do %>
      <div class="p-2 d-flex flex-wrap justify-content-center">
        <div class="w-100 mb-3 d-flex justify-content-center">
          <%= image_tag( 'shopping_bag.svg', size: "150x150", class: "text-secondary" ) %>
        </div>
        <h4 class="text-center">Compras</h4>
      </div>
      <% end %>

      <%= link_to '/sales', class:"px-0 m-2 col-12 col-md-5 col-lg-3 col-xl-2 text-decoration-none border border-dark rounded text-secondary" do %>
      <div class="p-2 d-flex flex-wrap justify-content-center">
        <div class="w-100 mb-3 d-flex justify-content-center">
          <%= image_tag( 'money_circle.svg', size: "150x150", class: "text-secondary" ) %>
        </div>
        <h4 class="text-center">Historial ventas</h4>
      </div>
      <% end %>
    </div>
  </div>
</div>