<div class="container-fluid">
  <div class="row d-flex mx-2 justify-content-center">
    <div class="col-12 bg-white col-md-11 px-0 my-md-5 my-sm-0 d-flex justify-content-center">
      <div
        class="form-container bg-light border rounded col-12 col-md-8 d-flex justify-content-center flex-wrap py-3">
        <div class="w-100 mt-3 ml-3">
          <%= link_to "Categorías", categories_sales_path %> &gt;
          <%= link_to "Subcategorías", :back %> &gt; Venta
        </div>
        <div class="text-center w-100 my-4">
          <h1 class="title"><%= @category.title %></h1>
          <h5 class="text-muted">( <%= @subcategory.title %> )</h5>
          <h2 class="subtitle">Describe el producto que vendes</h2>
        </div>
        <div class="form-body col-12 col-md-10">
          <%= form_for @sale, url: sales_path do |f| %>
          <% @error_messages = @sale.errors.messages %>
          <span id="image-error" class="text-danger"></span>
            <%# <%= f.fields_for @images do |images_fields| %1> %>
            <%#   <div id="sales-dropzone" class="drop dropzone d-flex flex-wrap justify-content-center mb-5" for='fileMultipleItems'> %>
            <%#     <div class="needsclick w-100 info-dragdrop"> %>
            <%#       <div class="text-center d-flex flex-wrap dz-default dz-message"> %>
            <%#         <div class="w-100 mb-3"> %>
            <%#           <%= image_tag('drag-images.svg') %1> %>
            <%#         </div> %>
            <%#         <span class="w-100">Agrega tus fotos.</span> %>
            <%#         <span class="w-100">Puedes subir un máximo de 5 fotos</span> %>
            <%#         <div class="w-100 mt-3"> %>
            <%#           <%= image_tag('add-image.svg') %1> %>
            <%#         </div> %>
            <%#       </div> %>
            <%#       <%= images_fields.file_field :file, %>
            <%#                                    id: 'fileMultipleItems', %>
            <%#                                    multiple: true, %>
            <%#                                    accept: 'image/*' %1> %>
            <%#     </div> %>
            <%#   </div> %>
            <%# <% end %1> %>
            <div class="d-flex justify-content-center">
              <%= f.label :document, 'Subir PDF (opcional)', class: 'my-3 btn primary-button btn-sm' %>
              <%= f.file_field :document, class: 'form-control form-control-lg', accept: 'application/pdf' %>
            </div>
            <%= f.text_field :title,
                             class: 'form-control form-control-lg',
                             placeholder: '¿Qué estás vendiendo?' %>
            <div class="invalid-feedback">
              <%= invalid_feedback_message(messages: @error_messages, field: :title) %>
            </div>
            <%= f.hidden_field :category_id %>
            <%= f.hidden_field :subcategory_id %>
            <%= f.text_area :description,
                            class: "form-control form-control-lg mt-5",
                            style: "height:250px",
                            placeholder: "¿Qué incluye? Descríbelo detalladamente" %>
            <div class="invalid-feedback">
              <%= invalid_feedback_message(messages: @error_messages, field: :description) %>
            </div>
            <%= f.text_area :extra_info,
                            class: 'form-control form-control-lg mt-5',
                            style: 'height: 250px;',
                            placeholder: 'Más información' %>
            <div class="invalid-feedback">
              <%= invalid_feedback_message(messages: @error_messages, field: :extra_info) %>
            </div>
            <div class="d-flex flex-wrap form-group justify-content-between">
              <div class="d-flex flex-wrap col-12 col-md-5 px-0">
                <%= f.number_field :quantity,
                                   min: 1,
                                   step: 0.10,
                                   class: 'form-control form-control-lg mt-5 w-100 validity-number',
                                   placeholder: 'Ingresa cantidad (0.00)' %>
                <div class="invalid-feedback inline">
                  <%= invalid_feedback_message(messages: @error_messages, field: :quantity) %>
                </div>
              </div>
                <div class="col-12 col-md-6 px-0 mt-5">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <%= f.number_field :price,
                                       class: 'form-control form-control-lg validity-number',
                                       placeholder: 'Precio',
                                       min: 1 %>
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                  <div class="invalid-feedback inline">
                    <%= invalid_feedback_message(messages: @error_messages, field: :price) %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-end">
              <%= f.submit 'Vender', class: 'btn primary-button btn-lg col-12 col-sm-4' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
