<!DOCTYPE html>
<html>
  <head>
    <title>CanacoB2b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/info_messages' %>
    <%= render partial:'shared/navbar' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
